<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  <nb-user id="userIcon" name="Chela Door" ></nb-user>
  </nb-layout-header>

  <nb-layout-column>
    <div class="row h-100">
      <div class=" col-6" id="listWrapper">
        <div class='col-md-4'>
          <nb-form-field>
            <nb-icon nbPrefix icon="search-outline" ></nb-icon>
            <input type="text" id="pac-input" placeholder="Dove andiamo?" nbInput>
          </nb-form-field>
        </div>
        <app-place-list ></app-place-list>
        <h2 *ngIf="tempoDiPercorenza">tempo di percorenza: {{tempoDiPercorenza}}</h2>
      </div>
    
      <div class="col-6">
        <div class="row">
          
          <div class="col-4">
            <button (click)='calcRoute()'> indicazioni</button>
            <button (click)='findMyLocation()'> dove sono</button>  
          </div>        
        </div>
        
        <div class="halfMap" id="map"></div>
        <div id="sidebar"></div>
      </div>
    </div>
    
    <router-outlet></router-outlet>
    
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
