<div class="row">
  <div class="col-4">
    <h2>placeholder lista</h2>
    <div class='row'>
      <div class='col-md-4'>
        <input
        id="pac-input"
        class="controls"
        type="text"
        placeholder="Search Box"
      />
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col-8">
        <h2>placeholder mappa</h2>
      </div>
      <div class="col-4">
        <button (click)='findMyLocation()'> dove sono</button>

      </div>
      
    </div>
    
    <div class="halfMap" id="map"></div>
  </div>
</div>

<router-outlet></router-outlet>
