<nb-search type="rotate-layout"></nb-search>

<div class="card-row">
  <div class="card-col">
    <nb-card accent="info" size="tiny">
      <nb-card-header>You searched for:</nb-card-header>
      <nb-card-body>
        <h3>{{ value || '-' }}</h3>
      </nb-card-body>
    </nb-card>
    <nb-card size="tiny">
      <nb-card-header>Tiny card</nb-card-header>
    </nb-card>
    <nb-card size="tiny">
      <nb-card-header>Tiny card</nb-card-header>
    </nb-card>
  </div>
  <div class="card-col">
    <nb-card accent="info" size="tiny">
      <nb-card-header>You searched for:</nb-card-header>
      <nb-card-body>
        <h3>{{ value || '-' }}</h3>
      </nb-card-body>
    </nb-card>
    <nb-card size="tiny">
      <nb-card-header>Tiny card</nb-card-header>
    </nb-card>
    <nb-card size="tiny">
      <nb-card-header>Tiny card</nb-card-header>
    </nb-card>
  </div>
</div>
