<div cdkDropList (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="listOfPlaces">
  <div cdkDrag class="drag-item" *ngFor="let place of listOfPlaces">

    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>
          {{place.placeResult.name}} <nb-action (click)='deletePlace(place)' icon="close-outline"></nb-action>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Sosta:  <input [(ngModel)]="place.hours" nbInput type="number" min="0" placeholder="hh"/> hh
          <input [(ngModel)]="place.minutes" nbInput type="number" min="0" max="59" placeholder="min"/> min
          
          <textarea id="TripNotes" nbInput fullWidth placeholder="Note di viaggio"></textarea>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>
