<div cdkDropList (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="listOfPlaces">
  <div cdkDrag class="drag-item" *ngFor="let place of listOfPlaces">

    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>{{place.placeResult.name}}</nb-accordion-item-header>
        <nb-accordion-item-body>
          Permanenza: <input nbInput [ngModel]="place.dwellTime" type="text" [nbTimepicker]="timepicker" />
          <nb-timepicker #timepicker></nb-timepicker>
          <textarea id="TripNotes" nbInput fullWidth placeholder="Note di viaggio"></textarea>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>
